<!-- < % layout("/layouts/boilerplate") %> -->
<footer>
    <!-- <section id="section1"> -->
    <div class="f-info" id="footer">
        <div class="f-info-contact">
            Connect with us
        </div>
    <div class="f-info-socials">
            <i class="fa-brands fa-square-youtube"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-discord"></i>           
        </div>
    <div class="f-info-brand">
                Cloud-Gaming
        </div>
    <div class="f-info-links">
            <a href="/privacy">Privacy</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/terms">Terms</a>
        </div>
    </div>
    <!-- </section> -->
</footer>