<!-- < % layout("/layouts/boilerplate")  %> -->

<style>
  h3{
    color: #000;
    font-size: larger;
    font-weight: 700;
    margin-top: 2.5rem;
  }

  body{
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .row{
    background-color: #fff;
    height: 30rem;
    width: 25rem;
    text-align: center;
    border-radius: 0.9rem;
    /* border: 2px solid red; */
  }

  .mb-3{
    margin: 27px;
    /* border: 3px solid blue; */
  }
  input, .btn, select{
    height: 2rem;
    width: 15rem;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid black;
  }

.btn{
  background-color: rgb(19, 117, 24);
  border-radius: 0.3rem;
  color: #fff;
  font-size: large;
  font-weight: 700;
}

.btn:hover{
  border-radius: 5.5rem;
  background-color: rgb(19, 117, 24);
}

a{
  text-decoration: none;
  margin-bottom: 2.5rem;
}
a:hover {
 color: #000;
 font-size: large;
 font-weight: 900;
}
.logHome{
    align-items: center;
    width: 5rem;
    height: 1.2rem;
    margin-top: 2px;
    background-color: green;
    color: white;
    border: 0;
    font-size: small;
  }
  .logHome:hover{
    border-radius: 4rem;
  }
</style>
<!-- < %= success %>  < %= error %> -->
<div class="row mt-3">
  <a href="listings">
    <button class="logHome">
  
     HOME
  </button>
  </a>
    <h3>SignUp on Cloud-Gaming</h3>
  <div class="col-8 offset">
   <form action="/signup" method="POST" class="needs-validation" novalidate>
    <div class="mb-3">
       <lable for="username" class="form-label"></lable> 
        <input 
        name="username" 
        id="username"
        type="text" 
        class="form-control" 
        placeholder="Username"
        required 
        /> 
    </div>
    <!-- Email -->
    <div class="mb-3">
        <lable for="email" class="form-label"></lable>
         <input 
         name="email" 
         id="email"
         type="email" 
         class="form-control" 
         placeholder="Email"
         required 
         />       
     </div>

     <!-- subscription -->
     <div class="mb-3">
      <select name="subscription" id="subscription" class="form-label">
        <option value="Duration - One Month Rs 199 only" class="form-label">One Month &nbsp;&nbsp;&nbsp; RS - 199 /.</option>
        <option value="Duration - One Year Rs 1999 only" class="form-label">One Year &nbsp;&nbsp;&nbsp; RS - 1999 /.</option>
      </select>
   </div>

     <!-- password -->
     <div class="mb-3">
        <lable for="password" class="form-label"></lable>
         <input 
         name="password" 
         id="password"
         type="password" 
         class="form-control" 
         placeholder="Password"
         required 
         /> 
     </div>
     <button class="btn">PAY NOW</button>

   </form>
   <br>
    <p class="last">
      <a href="/login">      
        Already have an account
        </a>
    </p>
  </div>
</div>
<br><br>


<!-- < % layout("/layouts/boilerplate")  %>
< %= success %>  < %= error %>
<div class="row mt-3">
    <h3 class="col-6 offset-3">SignUp on Cloud-Gaming</h3>
  <div class="col-8 offset-2">
   <form action="/signup" method="POST" class="needs-validation" novalidate>
    <div class="mb-3">
       <lable for="username" class="form-label">Username</lable> 
        <input 
        name="username" 
        id="username"
        type="text" 
        class="form-control" 
        required 
        /> 
        <div class="valid-feedback">Looks good</div>

    </div>

    
    <div class="mb-3">
        <lable for="email" class="form-label">Email</lable>
         <input 
         name="email" 
         id="email"
         type="email" 
         class="form-control" 
         required 
         />       
     </div>

  
     <div class="mb-3">
      <select name="subscription" id="subscription" class="form-label">
        <option value="Duration - One Month Rs 199 only" class="form-label">One Month &nbsp;&nbsp;&nbsp; RS - 199 /.</option>
        <option value="Duration - One Year Rs 1999 only" class="form-label">One Year &nbsp;&nbsp;&nbsp; RS - 1999 /.</option>
      </select>
   </div>

  
     <div class="mb-3">
        <lable for="password" class="form-label">password</lable>
         <input 
         name="password" 
         id="password"
         type="password" 
         class="form-control" 
         required 
         /> 
     </div>
     <button class="btn btn-success">PAY NOW</button>

   </form>
   <br>
    <a href="/login">      
       <button class="btn btn-success offset-10"><b>Already have an account</b></button>
    </a>
  </div>
</div>
<br><br>
 -->